<script type="text/javascript">
  let map
  let geocoder
  let marker = []; // マーカーを複数表示させたいので、配列化
  let infoWindow = []; // 吹き出しを複数表示させたいので、配列化
  const hotels = gon.hotels; // コントローラーで定義したインスタンス変数を変数に代入

  function initMap(){
      // geocoderを初期化
      geocoder = new google.maps.Geocoder()
      // mapの初期位置設定
      map = new google.maps.Map(document.getElementById('map-index'), {
      center: {lat: 35.6361543, lng: 139.8838749},
      zoom: 14
      });
      // forは繰り返し処理
      // 変数iを0と定義し、
      // その後gonで定義したhotels分繰り返し加える処理を行う
      for (let i = 0; i < hotels.length; i++) {
          // geocoderで addressの経緯緯度取得
          // hotels[i]は変数iのホテルを取得している
          geocoder.geocode( { 'address': hotels[i].prefecture_code + hotels[i].city + hotels[i].street }, function(results, status) {
              // statusがOKであれば
          if (status == 'OK') {
      　　　　// map.setCenterで地図が移動
              map.setCenter(results[0].geometry.location);
              marker[i] = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
              // 変数iを変数idに代入
              let id = hotels[i]['id']
              // infoWindowは吹き出し
              infoWindow[i] = new google.maps.InfoWindow({
              // contentで中身を指定
              // 今回は文字にリンクを貼り付けた形で表示
              content: `<a href='/admin/hotels/${id}'>${hotels[i].hotel_name}</a>`
              });
              // markerがクリックされた時、
              marker[i].addListener("click", function(){
                  // infoWindowを表示
                  infoWindow[i].open(map, marker[i]);
              });
          } else {
              alert('Geocode was not successful for the following reason: ' + status);
          }
          });
      }
  }

  function codeAddress(){
      // 入力を取得
      let inputAddress = document.getElementById('address').value;
      // geocodingしたあとmapを移動
  }
</script>

<div class="container-fluid">
  <div class="row justify-content-center mb-3">
    <h3 style="border-bottom: 2px solid #FF9933">浦安市のホテル一覧</h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3 d-flex flex-column">
      <div>
        <%= render "layouts/category_search", categories: @categories %>
      </div>
      <div class="mt-3">
        <%= render "layouts/area_search", areas: @areas %>
      </div>
      <div class="mt-3" id="map-index"></div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&callback=initMap"></script>
    </div>

    <div class="col-md-9">

      <div class="d-flex flex-wrap">
        <% @hotels.each do |hotel| %>
        <div class="d-flex flex-column mb-3 mr-3">
          <div>
            <%= link_to hotel_path(hotel) do %>
              <% hotel.hotel_images.first(1).each do |image| %>
                <%= attachment_image_tag image, :image, :fill, 230, 200 %>
              <% end %>
            <% end %>
          </div>
          <div style="font-size: 13px" width="250"><strong><%= hotel.hotel_name %></strong></div>
          <div style="font-size: 11px">カテゴリー：<%= hotel.category.category_name %></div>
          <div style="font-size: 11px">エリア：<%= hotel.area.area_name %></div>
          <div style="font-size: 11px">評価：<%= hotel.avg_rate %> 点（5点満点）</div>
        </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center mt-2"><%= paginate @hotels %></div>

    </div>
  </div>
</div>
