<div class="container-fluid">

  <div class="row justify-content-center">
    <h3 style="border-bottom: 2px solid #FF9933"><%= @hotel.hotel_name %></h3>
  </div>

  <div class="row mt-3 justify-content-center">
    <div class="col-md-8">
      <div class="slider">
      <% @hotel.hotel_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 600, 300 %>
      <% end %>
      </div>
      <p class="caption text-break"><%= @hotel.caption %></p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-3 offset-md-1" id="map" height="200" width="30%"></div>
      <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&callback=initMap"></script>
    <div class="col-md-6">
      <table class="table table-bordered">
        <tr>
          <th width="150">ホームページ</th>
          <td><%= text_url_to_link(h(@hotel.website)).html_safe %></td>
        </tr>
        <tr>
          <th>カテゴリ</th>
          <td><%= @hotel.category.category_name %></td>
        </tr>
        <tr>
          <th>エリア</th>
          <td><%= @hotel.area.area_name %></td>
        </tr>
        <tr>
          <th>価格帯</th>
          <td><%= @hotel.price_range %></td>
        </tr>
        <tr>
          <th>評価(平均)</th>
          <td><%= @hotel.avg_rate %> 点（5点満点）</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-auto d-flex mx-auto">
      <div><%= link_to "レビュー閲覧", hotel_reviews_path(@hotel), class: "btn btn-primary" %></div>
      <div><%= link_to "レビュー投稿", new_hotel_review_path(@hotel), class: "btn btn-dark ml-2" %></div>
      <div id="favorite_on_hotel_<%= @hotel.id %>">
        <%= render "public/favorites/favorite-bigbtn", hotel: @hotel %>
      </div>
    </div>
  </div>
  <div class="row justify-content-end mt-2">
    <%= link_to "ホテル一覧へ戻る", hotels_path, class: "mr-3" %>
  </div>

</div>
