<div class="container-fluid">
  <div class="row justify-content-center mb-3">
    <h3 style="border-bottom: 2px solid #FF9933">お問い合わせ確認</h3>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-11 col-md-4 col-lg-3 offset-1 offset-md-0 font-weight-bold">お名前</div>
    <div class="col-8 offset-2 col-md-4 offset-md-0"><%= @contact.name %></div>
  </div>

  <div class="row justify-content-md-center mt-2">
    <div class="col-11 col-md-4 col-lg-3 offset-1 offset-md-0 font-weight-bold">返信先メールアドレス</div>
    <div class="col-8 offset-2 col-md-4 offset-md-0"><%= @contact.email %></div>
  </div>

  <div class="row justify-content-md-center mt-2">
    <div class="col-11 col-md-4 col-lg-3 offset-1 offset-md-0 font-weight-bold">件名</div>
    <div class="col-8 offset-2 col-md-4 offset-md-0"><%= @contact.subject %></div>
  </div>

  <div class="row justify-content-md-center mt-2">
    <div class="col-11 col-md-4 col-lg-3 offset-1 offset-md-0 font-weight-bold">メッセージ</div>
    <div class="col-8 offset-2 col-md-4 offset-md-0 text-break"><%= @contact.message %></div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-3 text-center">
      <%= form_with model: @contact, url: contacts_path, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <%= f.submit '送信', class: "col-6 btn btn-success" %>
      <% end %>
    </div>
  
    <div class="col-12 col-md-3 text-center my-3 my-md-0">
      <%= form_with model: @contact, url: back_contacts_path, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <%= f.submit "入力画面に戻る", class: "col-6 col-md-12 col-lg-9 btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>