<div class="container-fluid">
  <div class="row justify-content-center mb-3">
    <h3 style="border-bottom: 2px solid #FF9933">お問い合わせ</h3>
  </div>

　<%= form_with model: @contact, url: confirm_contacts_path, local: true do |f| %>
    <div class="row justify-content-md-center">
      <%= f.label :"お名前*", class: "col-11 col-md-4 col-lg-3 offset-1 offset-md-0 font-weight-bold" %>
      <%= f.text_field :name, autocomplete: true, autofocus: true, class: 'col-8 offset-2 col-md-4 offset-md-0 form-control' %>
      <% if @contact.errors.include?(:name) %>
        <div class="col-md-3 offset-md-3" style="color:red;"><%= @contact.errors.full_messages_for(:name).first %></div>
      <% end %>
    </div>

    <div class="row justify-content-md-center mt-2">
      <%= f.label :"返信先メールアドレス*", class: "col-11 col-md-4 col-lg-3 offset-1 offset-md-0 font-weight-bold" %>
      <%= f.email_field :email, autocomplete: true, autofocus: true, class: 'col-8 offset-2 col-md-4 offset-md-0 form-control' %>
      <% if @contact.errors.include?(:email) %>
        <div class="col-md-3 offset-md-3" style="color:red;"><%= @contact.errors.full_messages_for(:email).first %></div>
      <% end %>
    </div>

    <div class="row justify-content-md-center mt-2">
      <%= f.label :"件名", class: "col-11 col-md-4 col-lg-3 offset-1 offset-md-0 font-weight-bold" %>
      <%= f.text_field :subject, autocomplete: true, autofocus: true, class: 'col-8 offset-2 col-md-4 offset-md-0 form-control' %>
    </div>

    <div class="row justify-content-md-center mt-2">
      <%= f.label :"メッセージ*", class: "col-11 col-md-4 col-lg-3 offset-1 offset-md-0 font-weight-bold" %>
      <%= f.text_area :message, size: '10x10', class: 'col-8 offset-2 col-md-4 offset-md-0 form-control' %>
      <% if @contact.errors.include?(:message) %>
        <div class="col-md-3 offset-md-3" style="color:red;"><%= @contact.errors.full_messages_for(:message).first %></div>
      <% end %>
    </div>

    <div class="row justify-content-center">
      <%= f.submit '入力内容確認', class: "col-auto btn btn-success my-3" %>
    </div>
  <% end %>

</div>
