<%= render "layouts/member-map-index" %>

<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-md-3 d-flex flex-column">
      <div>
        <%= render "layouts/category_search", categories: @categories %>
      </div>
      <div class="mt-3">
        <%= render "layouts/area_search", areas: @areas %>
      </div>
      <div class="mt-3" id="map-index"></div>
    </div>

    <div class="col-md-9">
      <h4><span style="border-bottom: 2px solid #FF9933">浦安ホテルサーチについて</span></h4>
      <p class="mt-3"><strong>ゲストさんへ</strong></p>
      <p>
        このサイトは浦安市にあるホテルのレビューサイトです。<br>
        会員登録をしていただきますと、ホテルのレビューを閲覧・投稿することができます。<br>
        ディズニー旅行や千葉・東京に遊びに行く方の参考になれば幸いです。
      </p>
      <div class="d-flex flex-wrap">
        <% @hotels.each do |hotel| %>
        <div class="d-flex flex-column mb-3 mr-3">
          <div>
            <% hotel.hotel_images.first(1).each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 225, 200 %>
            <% end %>
          </div>
          <div style="font-size: 13px" width="250"><strong><%= hotel.hotel_name %></strong></div>
          <div style="font-size: 11px">カテゴリー名：<%= hotel.category.category_name %></div>
          <div style="font-size: 11px">エリア名：<%= hotel.area.area_name %></div>
          <div style="font-size: 11px">評価：<%= hotel.avg_rate %> 点（5点満点）</div>
        </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to "新規登録", new_member_registration_path, class: "col-md-2 btn btn-dark btn-sm mr-3" %>
        <%= link_to "ホテル一覧", hotels_path, class: "col-md-2 btn btn-dark btn-sm mr-5" %>
      </div>

    </div>
  </div>
</div>
