<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="order-2 order-md-1 col-md-4 col-lg-3 d-flex flex-column">
      <div>
        <%= render "layouts/category_search", categories: @categories %>
      </div>
      <div class="mt-3">
        <%= render "layouts/area_search", areas: @areas %>
      </div>
      <div class="my-3" id="member-map-index"></div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&callback=member_map_index"></script>
    </div>

    <div class="order-1 order-md-2 col-md-8 col-lg-8 col-xl-9 mb-3">
      <h4 class="text-center text-md-left"><span style="border-bottom: 2px solid #FF9933">浦安ホテルサーチについて</span></h4>
      <p class="mt-3 text-center text-md-left"><strong>ゲストさんへ</strong></p>
      <p class="text-center text-md-left">
        このサイトは浦安市にある<span class="about">ホテルのレビューサイトです。</span><br>
        会員登録をしていただきますと、<span class="about">ホテルのレビューを閲覧・投稿することができます。</span><br>
        ディズニー旅行や千葉・東京に遊びに行く方の<span class="about">参考になれば幸いです。</span>
      </p>
      <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
        <% @hotels.each do |hotel| %>
        <div class="hotel-image d-flex flex-column mb-3 mr-3">
          <div>
            <% hotel.hotel_images.first(1).each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 225, 200 %>
            <% end %>
          </div>
          <div style="font-size: 13px; width:225px"><strong><%= hotel.hotel_name %></strong></div>
          <div style="font-size: 11px; width:225px">カテゴリ：<%= hotel.category.category_name %></div>
          <div style="font-size: 11px; width:225px">エリア：<%= hotel.area.area_name %></div>
          <div style="font-size: 11px">評価：<%= hotel.avg_rate %> 点（5点満点）</div>
        </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= link_to "新規登録", new_member_registration_path, class: "col-4 col-md-3 col-lg-2 btn btn-dark btn-sm mr-md-3" %>
        <%= link_to "ホテル一覧", hotels_path, class: "col-4 col-md-3 col-lg-2 btn btn-dark btn-sm" %>
      </div>

    </div>
  </div>
</div>
