<script>
  $(document).ready(function(){
    $(".container-fluid").hide().fadeIn(2000);
  });
</script>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8 slider-top">
      <div class="slider-image">
        <%= image_tag 'IMG_9429-min.jpg', class: "img-fluid" %>
        <div class="slider-text">浦安市運動公園</div>
      </div>
      <div class="slider-image">
        <%= image_tag 'IMG_9360-min.jpg', class: "img-fluid" %>
        <div class="slider-text">浦安市総合公園</div>
      </div>
      <div class="slider-image">
        <%= image_tag 'IMG_9428-min.jpg', class: "img-fluid" %>
        <div class="slider-text">東京ディズニーリゾート</div>
      </div>
      <div class="slider-image">
        <%= image_tag 'IMG_9462-min.jpg', class: "img-fluid" %>
        <div class="slider-text">ベイサイドステーション</div>
      </div>
      <div class="slider-image">
        <%= image_tag 'IMG_9499-min.jpg', class: "img-fluid" %>
        <div class="slider-text">東京ディズニーシー</div>
      </div>
    </div>

    <div class="col-lg-4 my-lg-auto my-3">
      <h1 class="text-center text-lg-left" style="color:#007bff">浦安</h1>
      <h1 class="pl-lg-3 text-center text-lg-left" style="color:#007bff">ホテルサーチ</h1>
      <p class="text-center" style="color:#FF9933">－　浦安で旅の続きを。－</p>
      <div class="text-center">
        <%= link_to "新規登録", new_member_registration_path, class: "col-4 btn btn-dark btn-sm" %>
        <%= link_to "about", about_path, class: "col-4 btn btn-dark btn-sm" %>
      </div>
    </div>
  </div>
</div>
