<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 text-center">
      <%= attachment_image_tag @member, :profile_image, :fill, 150, 125, fallback: "no-image-icon.jpg" %>
      <div><%= @member.username %></div>
      <p class="introduction text-break" style="font-size:10px"><%= @member.introduction %></p>
      <% if @member == current_member %>
      <p><%= link_to "編集する", "/#{@member.username}/edit", class: "btn btn-info", style: "font-size: 10px" %></p>
      <div><%= link_to "お気に入りホテル一覧", "/#{@member.username}/favorites", class: "btn btn-warning", style: "font-size: 12px" %></div>
      <% end %>
    </div>

    <div class="col-md-9">
      <h5><span style="border-bottom: 2px solid #FF9933"><%= @member.username %>さんの投稿レビュー一覧</span></h5>
      <% if @reviews.present? %>
        <% @reviews.includes(:hotel).each do |review| %>
        <div class="balloon row mt-3" style="display:">
          <div class="col-md-2">
            <%= attachment_image_tag review, :review_image, :fill, 90, 100, fallback: "no_image.jpg" %>
          </div>
          <div class="col-md-10">
            <div class="row">
              <p class="col-md-5" style="font-size:11px"><%= review.created_at.strftime('%Y/%m/%d') %></p>
              <% if review.member_id == current_member.id %>
              <div class="col-md-auto ml-auto">
                <%= link_to "編集", edit_hotel_review_path(review.hotel_id,review), class: "btn btn-primary btn-sm", style: "font-size:10px" %>
                <%= link_to "削除", hotel_review_path(review.hotel_id,review), method: :delete, data: { confirm: "レビューを削除してもよろしいですか？" }, class: "btn btn-danger btn-sm ml-1", style: "font-size:10px" %>
              </div>
              <% end %>
            </div>
            <div class="row mb-2">
              <div class="col-md-auto pt-1" style="font-size:15px">
                <strong><%= link_to review.hotel.hotel_name, hotel_path(review.hotel) %></strong>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-auto pt-1" style="font-size:11px">評価：</div>
              <div id="star-rate-<%= review.id %>" style="line-height: 6px"></div>
                <script>
                  $(document).ready(function(){
                    $('#star-rate-<%= review.id %>').empty();
                      $('#star-rate-<%= review.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= review.rate %>,
                      });
                  });
                </script>
            </div>
            <h6 class="text-break" style="font-size: 14px"><%= link_to review.title.truncate(20), hotel_review_path(review.hotel_id, review) %></h6>
            <p class="text-break" style="font-size: 13px"><%= review.content.truncate(40) %></p>
            <div class="text-right" style="font-size: 11px">コメント数：<%= review.review_comments.count %> 件</div>
          </div>
        </div>
        <% end %>
      <% end %>
      <div class="d-flex justify-content-center"><%= paginate @reviews %></div>
    </div>
  </div>
</div>
