<%= render "layouts/map", hotel: @hotel %>

<div class="container-fluid">

  <div class="row justify-content-center">
    <h3 style="border-bottom: 2px solid #FF9933"><%= @hotel.hotel_name %></h3>
  </div>

  <div class="row mt-3 justify-content-center">
    <div class="col-md-8">
      <div class="slider">
      <% @hotel.hotel_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 600, 300 %>
      <% end %>
      </div>
      <p class="caption"><%= @hotel.caption %></p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-3 offset-md-1" id="map"></div>
    <div class="col-md-6">
      <table class="table table-bordered">
        <tr>
          <th width="150">ホームページ</th>
          <td><%= text_url_to_link(h(@hotel.website)).html_safe %></td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td><%= @hotel.category.category_name %></td>
        </tr>
        <tr>
          <th>エリア</th>
          <td><%= @hotel.area.area_name %></td>
        </tr>
        <tr>
          <th>価格帯</th>
          <td><%= @hotel.price_range %></td>
        </tr>
        <tr>
          <th>評価(平均)</th>
          <td><%= @hotel.avg_rate %> 点（5点満点）</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-auto mx-auto d-flex">
      <div><%= link_to "レビューを閲覧する", admin_hotel_reviews_path(@hotel), class: "btn btn-primary" %></div>
      <div><%= link_to "情報を編集する", edit_admin_hotel_path(@hotel), class: "btn btn-dark ml-2" %></div>
    </div>
  </div>

</div>
