<div class="container-fluid">

  <div class="row justify-content-center">
    <h3 class="head-text" style="border-bottom: 2px solid #FF9933"><%= @hotel.hotel_name %></h3>
  </div>

  <div class="row mt-3 justify-content-center">
    <div class="col-12 col-md-8">
      <div class="slider">
      <% @hotel.hotel_images.each do |image| %>
        <%= attachment_image_tag image, :image, class: "img-show img-fluid" %>
      <% end %>
      </div>
      <p class="caption text-break"><%= @hotel.caption %></p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-10 col-md-4 offset-md-1 mb-3" id="map"></div>
      <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&callback=initMap"></script>
    <div class="col-md-6">
      <table class="table table-bordered">
        <tr>
          <th width="35%">ホームページ</th>
          <td width="65%" class="text-break"><%= text_url_to_link(h(@hotel.website)).html_safe %></td>
        </tr>
        <tr>
          <th>カテゴリ</th>
          <td><%= @hotel.category.category_name %></td>
        </tr>
        <tr>
          <th>エリア</th>
          <td><%= @hotel.area.area_name %></td>
        </tr>
        <tr>
          <th>価格帯</th>
          <td><%= @hotel.price_range %></td>
        </tr>
        <tr>
          <th>評価(平均)</th>
          <td><%= @hotel.avg_rate %> 点（5点満点）</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-10 col-md-auto d-md-flex text-center">
      <%= link_to "レビュー閲覧", admin_hotel_reviews_path(@hotel), class: "col-10 col-md-auto btn btn-primary" %>
      <%= link_to "ホテル情報を編集", edit_admin_hotel_path(@hotel), class: "col-10 col-md-auto btn btn-dark ml-md-2 my-2 my-md-0" %>
    </div>
  </div>
  <div class="row justify-content-end mt-2">
    <%= link_to "ホテル一覧へ戻る", admin_hotels_path, class: "mr-3" %>
  </div>

</div>
