<div class="container-fluid">
  <div class="row justify-content-center mb-3">
    <h3 style="border-bottom: 2px solid #FF9933">エリア一覧＆登録</h3>
  </div>

  <%= form_with model: @area, url: admin_areas_path, local: true do |f| %>
  <div class="row justify-content-center mt-5">
    <%= f.label :"エリア名", class: "col-md-auto font-weight-bold mr-3" %>
    <%= f.text_field :area_name, autofocus: true, autocomplete: "area_name", class: "col-md-3 form-control" %>
    <%= f.submit "登録", class: "col-md-auto btn btn-success ml-3" %>
  </div>
  <% end %>
  <% if @area.errors.include?(:area_name) %>
    <div  class="col-md-3 offset-md-5 mt-2" style="color: red;"><%= @area.errors.full_messages_for(:area_name).first %></div>
  <% end %>

  <div class="row justify-content-center mt-5">
    <div class="col-md-auto">

      <table class="table table-bordered table-striped">
        <tr>
          <th width="400" style="background-color: #99FFCC">エリア名</th>
          <td width="150" style="background-color: #99FFCC"></td>
        </tr>
      <% @areas.each do |area| %>
        <tr>
          <td><%= area.area_name %></td>
          <td class="text-center">
            <%= link_to "編集", edit_admin_area_path(area), class: "btn btn-primary btn-sm" %>
            <%= link_to "削除", admin_area_path(area), method: :delete, data: { confirm: "エリアを削除してよろしいですか?" }, class: "btn btn-danger btn-sm ml-1" %>
          </td>
        </tr>
      <% end %>
      </table>

    </div>
  </div>
