<% review.review_comments.includes(:member).each do |review_comment| %>
  <div class="col-md-1 offset-md-2 mt-1">
  <%= link_to "/admin/#{review_comment.member.username}" do %>
    <%= attachment_image_tag review_comment.member, :profile_image, :fill, 30, 30, fallback: "no-image-icon.jpg", class: "rounded-circle" %>
  <% end %>
  </div>
  <div class="col-md-8 balloon-circle mt-1">
    <div style="font-size:7px"><%= review_comment.created_at.strftime('%Y/%m/%d') %><span class="ml-2"><%= review_comment.member.username %>さん</span></div>
    <div class="text-break" style="font-size:8px"><%= review_comment.comment %></div>
    <div class="text-right" style="font-size:7px"><%= link_to "削除",  admin_hotel_review_review_comment_path(review_comment.review.hotel_id, review_comment.review_id, review_comment.id), method: :delete, data: { confirm: "コメントを削除してもよろしいですか？" }, remote: true, class: "text-danger" %></div>
  </div>
<% end %>
