<nav class="navbar navbar-expand-lg" style="height: 130px">
  <div class="container-fluid">

    <div class="col-md-3">
      <div class="d-flex align-items-center">
        <div class="ml-3">
          <%= link_to "https://www.facebook.com/" do %>
            <i class="fab fa-facebook-square fa-2x"></i>
          <% end %>
        </div>
        <div class="ml-3">
          <%= link_to "https://www.twitter.com/" do %>
            <i class="fab fa-twitter-square fa-2x"></i>
          <% end %>
        </div>
        <div class="ml-3">
          <%= link_to "https://www.instagram.com/" do %>
            <i class="fab fa-instagram-square fa-2x"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex flex-column">
      <div class="mx-auto">
        <a class="logo" href="/">
          <%= image_tag 'uhs_logo.png', width: 150, height: 60 %>
        </a>
      </div>
      <div>
        <ul class="nav nav-tabs mt-2 justify-content-center">
        <!--会員がログインした場合-->
        <% if member_signed_in? %>
          <li class="nav-items"><%= link_to "マイページ", mypage_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "ホテル", hotels_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "ランキング", ranking_hotels_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "ギャラりー", pictures_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "nav-link active" %></li>
        <!--管理者がログインした場合-->
        <% elsif admin_signed_in? %>
          <li class="nav-items"><%= link_to "ホテル", admin_hotels_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "カテゴリ", admin_categories_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "エリア", admin_areas_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "メンバー", admin_members_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "ギャラリー", admin_pictures_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link active" %></li>
        <!--ログインしていない場合-->
        <% else %>
          <li class="nav-items"><%= link_to "トップ", root_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "アバウト", about_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "サインアップ", new_member_registration_path, class: "nav-link active" %></li>
          <li class="nav-items"><%= link_to "ログイン", new_member_session_path, class: "nav-link active" %></li>
        <% end %>
        </ul>

      </div>
    </div>

    <div class="col-md-3 align-items-center">
      <%= form_with url: hotel_search_path, method: :get, local: true do |f| %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= f.button :type => "submit", class: "input-group-text", style: "background-color: #007bff; color:white;" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
        <%= f.text_field :keyword, placeholder: "ホテル名で検索", class: "form-control", style: "font-size:14px" %>
      </div>
      <% end %>
    </div>

  </div>
</nav>
