<div class="mt-2">
<% hotel.hotel_images.first(1).each do |image| %>
  <%= attachment_image_tag image, :image, class: "hotel-first-image" %>
<% end %>
</div>
<table class="table table-bordered table-sm text-left mt-2" style="font-size: 9px">
  <tr>
    <th>ホームページ</th>
    <td class="text-break"><%= text_url_to_link(h(hotel.website)).html_safe %></td>
  </tr>
  <tr>
    <th>カテゴリ</th>
    <td><%= hotel.category.category_name %></td>
  </tr>
  <tr>
    <th>エリア</th>
    <td><%= hotel.area.area_name %></td>
  </tr>
  <tr>
    <th>価格帯</th>
    <td><%= hotel.price_range %></td>
  </tr>
  <tr>
    <th>評価(平均)</th>
    <td><%= hotel.avg_rate %> 点（5点満点）</td>
  </tr>
</table>
